#calcContainer{
display: flex;
gap: 5px;
align-items: center;
justify-content: center;
}


#calcDisplay{
 display:flex;
 flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: black 2pt solid;
    padding: 15px;
    height: 200pt;
    background: cornflowerblue;
}

#screenPanel{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: grey;
    width: 80%;
    height: 5%;

    padding: 10pt;
    border: black 4pt solid;
}

#equalRow , #zeroRow {
display: flex;
align-items: center;
justify-content: space-between;
}

#numbersPanel{display:flex;flex-direction: column;gap: 5px;}


.row{display: flex;gap: 5px;align-items: end;justify-content: end;}



.number{
    margin: 0;
    padding: 0;
    height: 25px;
    width: 50px;
    background-color: red;
    color: white;
}

#zero{
 
width: 75px;

}

.numberOp{
    margin: 0;
    padding: 0;
    height: 25px;
    width: 50px;
    background-color: white;
    color: red;


}


.operatorBorder{
    border: yellow 4pt solid;

}